@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Raleway", sans-serif;
  margin: auto;
  width: 1040px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.successfull {
  background-color: green;
  color: white;
  font-size: 1.5rem;
}

.error {
  background-color: #de2b2b;
  color: white;
  font-size: 1.5rem;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  background-color: #34495e;
  color: white;
}

header img {
  margin-left: 2rem;
  margin-top: 0.5rem;
}

header nav {
  display: flex;
}

header ul {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1.2rem 0;
  width: 100%;
  text-transform: uppercase;
}

header li {
  padding: 0 1.2rem;
}

header nav a {
  text-align: center;
  border-bottom: 3px transparent solid;
  padding: 1rem 0;
  font-weight: 500;
  transition-duration: 0.1s;
}

#signup a,
#login a {
  color: #c8fc00;
}

header nav a:hover {
  border-top: 3px solid #c8fc00;
  border-bottom: 3px solid #c8fc00;
  font-weight: bold;
}

#signup a,
#login a,
#logout a {
  color: #c8fc00;
  font-weight: 700;
}

p.btn {
  display: none;
  border-radius: 2rem;
  box-shadow: 2px 2px 3px grey;
  background-color: #ecf0f1;
  margin-right: 2rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

/* Content */

h1 {
  background: transparent;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  color: #008c00;
  margin: 0;
}

main,
section,
p#message {
  background-color: #ecf0f1;
}

p#message {
  margin: 0;
  padding: 0.5rem;
  box-sizing: border-box;
}

form {
  width: 75%;
}

label,
input,
textarea,
select {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  border-radius: 0.5rem;
  padding: 0.25rem;
  box-sizing: border-box;
}

input,
textarea {
  width: 70%;
}

input[type="submit"] {
  border-radius: 10rem;
  width: auto;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

p.label {
  display: flex;
  width: 30%;
  text-align: left;
  vertical-align: center;
}

form p {
  margin-top: 0;
  margin-bottom: 0;
}

form div {
  display: flex;
  flex-direction: column;
}

label#description {
  vertical-align: top;
}

.btn-submit {
  text-align: right;
}

.row {
  display: flex;
  justify-content: center;
}

td,
th {
  padding: 1.5rem;
  text-align: center;
}
/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #34495e;
  color: white;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

#assistance * {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#about * {
  display: flex;
  flex-direction: column;
  text-align: center;
}
